<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="0">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- Disable StatusLogger completely -->
        <Logger name="org.apache.logging.log4j.status.StatusLogger" level="OFF" additivity="false"/>
        <!-- Disable TAFJ logging to reduce noise -->
        <Logger name="com.temenos" level="WARN" additivity="false"/>
    </Loggers>
</Configuration>